<%- include('partials/header') %>
<div class="wrapper">
    <div id="cartHolder"></div>
    <div class="row">
        <div class="container">
            <header class="main-header">
                <!-- <figure class="main-header__img">
                    <img src="/static/img/turkey.png" alt="Turkey">
                </figure> -->
                <section class="main-header__section single-product">
                    <h1><%= product.name %></h1>
                    <h2>&#36; <%= product.price %> Per Pound</h2>
                </section>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <main class="main products single-product">
                <div class="row">
                    <div class="container single-product">
                        <div class="col">
                            <header class="product-header">
                                <h3 class="product-header__description">Description</h3>
                            </header>
                            <p><%= product.description %></p>
                        </div>
                        <div class="col">
                            <header class="product-header">
                                <h3 class="product-header__image">Image</h3>
                            </header>
                            <figure>
                                <img src="/api/products/<%-product._id %>/image" alt="<%= product.name %>">
                                <figcaption><%- product.description %></figcaption>
                            </figure>
                        </div>
                        <div class="col">
                            <button class="addToCart" data-id="<%- product._id %>">Add To Cart</button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <% if (user) { %>
        <div class="row">
            <div class="container">
                <form class="edit">
                    <div class="form-control">
                        <label for="name">Name: </label>
                        <input type="text" name="name">
                        <small class="namel error"></small>
                    </div>
                    <div class="form-control">
                        <label for="price">Price: </label>
                        <input type="number" name="price" step=".01">
                        <small class="price error"></small>
                    </div>
                    <div class="form-control">
                        <label for="description">Description: </label>
                        <input type="text" name="description">
                        <small class="description error"></small>
                    </div>
                    <div class="form-control">
                        <label for="setInventory">set Inventory: </label>
                        <input type="number" name="setInventory" step="1">
                        <small class="setInventory error"></small>
                    </div>
                    <div class="form-control">
                        <label for="sold">Sold: </label>
                        <input type="number" name="sold" step="1">
                        <small class="sold error"></small>
                    </div>
                    <div class="form-control">
                        <button>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    <% } %>
</div>

<script>
    const form = document.querySelector('form');

    form.addEventListener('submit', (e) => {
        e.preventDefault();
        const name = form.name.value;
        const price = form.price.value;
        const description = form.description.value;
        const setInventory = form.setInventory.value;
        const sold = form.sold.value;

        async function updateProduct(url, method) {
            const res = await fetch(url, {
                method: method,
                headers: {'Content-Type' : 'application/json'},
                body: JSON.stringify({name, price, description, setInventory, sold})
            }).then(() => {
                location.reload();
            })

            const data = await res.json();
            console.log(data);
        }

        //  Call updateProduct

        updateProduct( '/api/products/<%= id %>', 'PATCH');
    })
</script>

<%- include('partials/footer') %>